.achievements-outer-div {
	position: relative;

	h1 {
		color: #181818;
		font-size: 50px;
		font-weight: 700;
		line-height: 50px;
		margin: 0;
		span {
			color: #57B1BE;
		}
	}
	.hobbies-title {
		opacity: 0;
		position: absolute;
		left: 26%;
		bottom: 73.5%;
	}
	.hobbies-title.showAchievementTitle {
		transition: 0.6s linear all;
		opacity: 1;
	}
	.achievements-title {
		opacity: 0;
		position: absolute;
		left: 26%;
		bottom: 67%;
	}
	.achievements-title.showAchievementTitle {
		transition: 0.6s linear all;
		opacity: 1;
	}
	.achievements-list-div {
		/*border: 1px solid red;*/
		position: absolute;
		height: 40%;
		width: 60%;
		top: 36%;
		left: 25.1%;
		table {
			table-layout: fixed;
			width: 100%;
			tr {
				opacity: 0;
				td:nth-of-type(1) {
					/*border: 1px solid yellow;*/
					width: 30px;
					color: #57B1BE;
					font-size: 40px;
					line-height: 40px;
				}
				td:nth-of-type(2) {
					/*border: 1px solid yellow;*/
					width: 100%;
					color: white;
					font-size: 14px;
				}
			}
			tr:nth-of-type(1).showAchievement {
				transition: 0.2s linear all;
				opacity: 1;
			}
			tr:nth-of-type(2).showAchievement {
				transition: 0.4s linear all;
				opacity: 1;
			}
			tr:nth-of-type(3).showAchievement {
				transition: 0.6s linear all;
				opacity: 1;
			}
			tr:nth-of-type(4).showAchievement {
				transition: 0.8s linear all;
				opacity: 1;
			}
			tr:nth-of-type(5).showAchievement {
				transition: 1s linear all;
				opacity: 1;
			}
			tr:nth-of-type(6).showAchievement {
				transition: 1.2s linear all;
				opacity: 1;
			}
		}
	}
	.blue-line-div {
		border-bottom: 2px solid #57B1BE;
		width: 15.1%;
		height: 34%;
		position: absolute;
		left: 51.3%;
		top: 0;
	}
}

@media only screen and (min-width: 768px) {
	.achievements-outer-div {
		h1 {
			font-size: 55px;
			line-height: 55px;
		}
		.hobbies-title {
			bottom: 74.5%;
		}
		.achievements-title {
			bottom: 67%;
		}
	}
}

@media only screen and (min-width: 1024px) {
	.achievements-outer-div {
		h1 {
			font-size: 55px;
			line-height: 55px;
		}
		.hobbies-title {
			bottom: 74.5%;
		}
		.achievements-title {
			bottom: 67%;
		}
	}
}

@media only screen and (min-width: 1224px) {
	.achievements-outer-div {
		h1 {
			font-size: 55px;
			line-height: 55px;
		}
		.hobbies-title {
			bottom: 74.5%;
		}
		.achievements-title {
			bottom: 67%;
		}
		.achievements-list-div {
			table {
				tr {
					td:nth-of-type(1) {
						font-size: 50px;
						line-height: 40px;
					}
					td:nth-of-type(2) {
						font-size: 16px;
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 1400px) {
	.achievements-outer-div {
		h1 {
			font-size: 60px;
			line-height: 60px;
		}
		.hobbies-title {
			bottom: 75%;
		}
		.achievements-title {
			bottom: 67%;
		}
		.achievements-list-div {
			table {
				tr {
					td:nth-of-type(1) {
						font-size: 55px;
						line-height: 45px;
					}
					td:nth-of-type(2) {
						font-size: 18px;
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 1600px) {
	.achievements-outer-div {
		h1 {
			font-size: 80px;
			line-height: 80px;
		}
		.hobbies-title {
			bottom: 74.5%;
		}
		.achievements-title {
			bottom: 67%;
		}
		.achievements-list-div {
			top: 38%;
			table {
				tr {
					td:nth-of-type(1) {
						width: 40px;
						font-size: 60px;
						line-height: 50px;
					}
					td:nth-of-type(2) {
						font-size: 20px;
					}
				}
			}
		}
	}
}