.landing-outer-div {
	min-width: 700px;

	.left-block {
		float: left;
		width: 50%;
		height: 100%;
		background-color: #D7D9D8;
	}
	.right-block {
		float: right;
		width: 50%;
		height: 100%;
		background-color: #303030;
		.sub-block {
			border-right: 1px solid #5BB1BD;
			border-bottom: 1px solid #5BB1BD;
			float:left;
			width: 75%;
			padding: 120px 0 0 40px;
			h1 {
				font-size: 40px;
				color: #D7D9D8;
				font-weight: 700;
				margin: 0;
				line-height: 40px;
			}
			.my-title {
				margin: 15px 0 0 0;
				color: #5BB1BD;
				font-size: 20px;
			} 
		}
		.spacer-block {
			background-color: #D7D9D8;
			height: 70px;
		}
	}
	img {
		position: absolute;
		bottom: 0;
		right: 45%;
		width: 45%;
	}
}

@media (max-width: 700px) {

  .landing-outer-div {
    
  	img {
		width: 400px;
		left: -20px;
	}

  }

}