.landing-outer-div {
	
	.left-block {
		float: left;
		width: 50%;
		height: 100%;
		background-color: #D7D9D8;
	}
	.right-block {
		float: right;
		width: 50%;
		height: 100%;
		background-color: #303030;
		.top-block {
			height: 70px;
			width: 100%;
			background-color: #D7D9D8;
		}
	}
}