.landing-outer-div {
	min-width: 700px;

	.left-block {
		float: left;
		width: 50%;
		height: 100%;
		background-color: #D7D9D8;
	}
	.right-block {
		float: right;
		width: 50%;
		height: 100%;
		background-color: #303030;
		.sub-block {
			border-right: 1px solid #5BB1BD;
			border-bottom: 1px solid #5BB1BD;
			position: relative;
			float:left;
			width: 75%;
			padding: 120px 0 0 40px;
			.blue-block {
				position: absolute;
				top: 126px;
				left: -17px;
				width: 60px;
				height: 29px;
				background-color: #5BB1BD;
			}
			h1 {
				font-size: 40px;
				color: #D7D9D8;
				font-weight: 700;
				margin: 0;
				line-height: 40px;
			}
			.my-title {
				margin: 15px 0 0 0;
				color: #5BB1BD;
				font-size: 20px;
			}
			.download-resume {
				border: 1px solid #5BB1BD;
				border-radius: 2px;
				color: #5BB1BD;
				background-color: #303030;
				padding: 0;
				margin-top: 20px;
				font-size: 8px;
				font-weight: 500;
				line-height: 17px;
				width: 125px;
				height: 20px;
			}
			.download-resume:focus {
				outline: none;
			}
			.download-resume:hover {
				cursor: pointer;
			}
		}
		.spacer-block {
			background-color: #D7D9D8;
			height: 70px;
		}
	}
	img {
		position: absolute;
		bottom: 0;
		right: 47%;
		width: 45%;
	}
}

@media (max-width: 700px) {

  .landing-outer-div {
    
  	img {
		width: 400px;
		left: -20px;
	}

  }

}