$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "section-one";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  .block-viewer {
    border: 1px solid blue;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
  .ak-panel {
    
    border: 1px solid red;
  }
}




