$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "navigation";
@import "introduction";
@import "skills";
@import "experience";
@import "experience-modal";
@import "projects";
@import "achievements";
@import "contact";



.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  
  font-family: 'Roboto', sans-serif;
  
	.my-panel-group {
		.ak-panel {
			/*border: 1px solid red;*/
		}
    .ak-panel:nth-of-type(1) {
      background-color: #D7D9D8;
    }
    .ak-panel:nth-of-type(2) {
      background-color: #D7D9D8;
    }
    .ak-panel:nth-of-type(3) {
      background-image: url("../images/experience-background.png");
      background-size: cover;
      background-position: center;
    }
    .ak-panel:nth-of-type(5) {
      background-image: url("../images/rowing-background.png");
      background-size: cover;
      background-position: center;
    }
    .ak-panel:nth-of-type(6) {
      background-image: url("../images/contact-background.png");
      background-size: cover;
      background-position: center;
    }
	}
  	
}




