$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "section-one";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  
  .navigation-div {
    border: 1px solid blue;
    position: fixed;
    z-index: 10;
  }

  ak-panel-group-menu {
    ul {
      padding-left: 150px;
      li {
        display: inline;
      }
    }
  }

  ak-panel-group {
    .ak-panel {
      border: 1px solid red;
    }
  }

  .main-outer-div {
    border: 1px solid red;
    /*position: absolute;*/
  
    
    

  }
}




