.skills-outer-div {
	background-color: #D7D9D8;
	padding: 100px 0 0 0;
	.inner-block {
		width: 100%;
		padding: 0 0 0 200px;
		.right-block {
			background-color: #535B5B;
			border: 1px solid red;
			height: 100%;
			h1 {
				color: #D7D9D8;
				font-size: 50px;
			}
			.pie-chart-group {
				/*border: 1px solid red;*/
				width: 100px;
				height: 120px;
				position: relative;
				.rating {
					color: #D7D9D8;
					position: absolute;
					bottom: 33px;
					left: 40px;
					-webkit-transform: rotate(-90deg);
				    -webkit-transform-origin: left top;
				    -moz-transform: rotate(-90deg);
				    -moz-transform-origin: left top;
				    -ms-transform: rotate(-90deg);
				    -ms-transform-origin: left top;
				    -o-transform: rotate(-90deg);
				    -o-transform-origin: left top;
				    transform: rotate(-90deg);
				    transform-origin: left top;
				}
				.technology-name {
					position: absolute;
					bottom: 0;
					width: 100%;
					text-align: center;
					color: #D7D9D8;
				}
			}
			
		}
		
	}
}