.skills-outer-div {
	background-color: #D7D9D8;
	position: relative;

	.inner-block {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 78.5%;
		height: 85.1%;
		background: url("../images/skills-background.png");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: bottom;
		padding: 3% 0 0 3.9%;
		h1 {
			color: #D7D9D8;
			font-size: 50px;
			margin: 0 0 0 0;
			font-weight: 700;
		}
		.sub-page {
			border: 1px solid red;
			margin: 0;
			padding: 0;
			width: 71%;
			height: 57.7%;
			table {
				table-layout: fixed;
				width: 100%;
				height: 100%;
				border: 1px solid red;
				tr {
					border: 1px solid red;
					td {
						border: 1px solid yellow;
						width: 31.33%;
						height: 50%;
						.technology-group-name {
							opacity: 0;
							color: #5BB1BD;
							font-size: 20px;
							line-height: 20px;
							margin-bottom: 10px;
						}
						.technology-group-name.showSkills {
							opacity: 1;
							transition: 0.8s linear all;
						}
						.pie-chart-group {
							border: 1px solid red;
							width: 30%;
							height: 68%;
							float: left;
							position: relative;
							.rating {
								color: #D7D9D8;
								position: absolute;
								bottom: 32px;
								left: 32px;
								font-weight: 300;
								-webkit-transform: rotate(-90deg);
							    -webkit-transform-origin: left top;
							    -moz-transform: rotate(-90deg);
							    -moz-transform-origin: left top;
							    -ms-transform: rotate(-90deg);
							    -ms-transform-origin: left top;
							    -o-transform: rotate(-90deg);
							    -o-transform-origin: left top;
							    transform: rotate(-90deg);
							    transform-origin: left top;
							    span {
							    	color: #5BB1BD;
							    }
							}
							.technology-name {
								position: absolute;
								bottom: 0;
								width: 100%;
								text-align: center;
								color: #D7D9D8;
								font-weight: 300;
							}
						}
						.pie-chart-group.with-margins {
							margin: 0 5% 0 5%;
						}
					}
					td:nth-of-type(2), td:nth-of-type(4) {
						width: 3%;
					}
				}
			}
			// .technology-group {
			// 	/*border: 1px solid red;*/
			// 	height: 140px;
			// 	width: 277px;
			// 	display: inline-block;
			// 	margin: 0 35px 35px 0;
			// 	pointer-events: none;
			// 	.technology-group-name {
			// 		opacity: 0;
			// 		color: #5BB1BD;
			// 		font-size: 20px;
			// 		line-height: 20px;
			// 		margin-bottom: 10px;
			// 	}
			// 	.technology-group-name.showSkills {
			// 		opacity: 1;
			// 		transition: 0.8s linear all;
			// 	}
			// 	.pie-chart-group {
			// 		/*border: 1px solid red;*/
			// 		width: 85px;
			// 		height: 110px;
			// 		float: left;
			// 		margin-right: 10px;
			// 		position: relative;
			// 		// canvas {
			// 		// 	width: 84px;
			// 		// 	height: 84px;
			// 		// }
			// 		.rating {
			// 			color: #D7D9D8;
			// 			position: absolute;
			// 			bottom: 32px;
			// 			left: 32px;
			// 			font-weight: 300;
			// 			-webkit-transform: rotate(-90deg);
			// 		    -webkit-transform-origin: left top;
			// 		    -moz-transform: rotate(-90deg);
			// 		    -moz-transform-origin: left top;
			// 		    -ms-transform: rotate(-90deg);
			// 		    -ms-transform-origin: left top;
			// 		    -o-transform: rotate(-90deg);
			// 		    -o-transform-origin: left top;
			// 		    transform: rotate(-90deg);
			// 		    transform-origin: left top;
			// 		    span {
			// 		    	color: #5BB1BD;
			// 		    }
			// 		}
			// 		.technology-name {
			// 			position: absolute;
			// 			bottom: 0;
			// 			width: 100%;
			// 			text-align: center;
			// 			color: #D7D9D8;
			// 			font-weight: 300;
			// 		}
			// 	}
			// 	.pie-chart-group:last-of-type {
			// 		margin: 0;
			// 	}
			// }
			// .technology-group:nth-of-type(2) {
			// 	margin-right: 0;
			// }
			// .technology-group:nth-of-type(4) {
			// 	margin-right: 0;
			// }
			// .technology-group:nth-of-type(6) {
			// 	margin-right: 0;
			// }
		}
	}
	.explore-skillset {
		position: absolute;
		bottom: 16.6%;
		left: 65.2%;
		background-color: rgba(0,0,0,0);
		border: 1px solid #5BB1BD;
		border-radius: 2px;
		color: white;
		padding: 0;
		font-size: 9px;
		font-weight: 500;
		line-height: 15px;
		width: 13.3%;
		height: 5.1%;
	}
	.blue-line-div {
		position: absolute;
		border-bottom: 1px solid #5BB1BD;
		width: 29.6%;
		height: 1px;
		bottom: 19%;
		left: 35.6%;
	}
	.sub-page-button {
		position: absolute;
		bottom: 17.6%;
		border: 1px solid red;
		width: 2.4%;
		height: 2.9%;
	}
	.sub-page-button.btn-one {
		left: 25.4%;
	}
	.sub-page-button.btn-two {
		left: 28.9%;
	}
	.sub-page-button.btn-three {
		left: 32.4%;
	}
}

@media (min-width: 1000px) {

	.skills-outer-div {
		.inner-block {
			.right-block {
				.container {
					width: 800px;
					.technology-group {
						margin: 0 60px 30px 0;
					}
				}
			}	
		}
	}
}

@media (min-width: 1200px) {

	.skills-outer-div {
		.inner-block {
			.right-block {
				padding: 30px 0 0 150px;
				.container {
					width: 900px;
					.technology-group {
						margin: 0 60px 30px 0;
					}
				}
			}	
		}
	}
}