<div class="introduction-outer-div" height-width-setter>
	<div class="left-block"></div>
	<div class="right-block">
		<div class="sub-block" height-setter offset="30" min-height="370">
			<div class="blue-block"></div>
			<h1>ILJA</h1>
			<h1>GOUSHCHA</h1>
			<div class="my-title">Full Stack Developer</div>
			<button type="button" class="download-resume" ng-click="mainCtrl.downloadResumeAction()">DOWNLOAD RESUME</button>
			<div class="github-icon" ng-click="mainCtrl.githubAction()"></div>
			<div class="linkedin-icon" ng-click="mainCtrl.linkedinAction()"></div>
		</div>
		<div class="spacer-block"></div>
	</div>
	<div class="portrait" height-setter offset="70" min-height="330"></div>
	
</div>