<div class="introduction-outer-div" dimensions-setter aspect-ratio="1.88">

	<div class="black-div">
		<div class="blue-block"></div>
		<h1 class="my-first-name">ILJA</h1>
		<h1>GOUSHCHA</h1>
		<div class="my-title">Full Stack Developer</div>
		<button type="button" class="download-resume" ng-click="mainCtrl.downloadResumeAction()">DOWNLOAD RESUME</button>
	</div>
	<div class="blue-line-div"></div>
	<div class="portrait-div"></div>
	<div class="github-icon" ng-click="mainCtrl.githubAction()"></div>
	<div class="linkedin-icon" ng-click="mainCtrl.linkedinAction()"></div>

</div>