
<div class="navigation-div" height-width-setter>
	<ak-panel-group-menu for="myPanelGroup"></ak-panel-group-menu>
  <navigation-spacer></navigation-spacer>
	<ak-panel-group-menu-b for="myPanelGroup"></ak-panel-group-menu-b>
</div>

<ak-panel-group name="myPanelGroup" full-window="true" keyboard="true" height-width-setter>
	<ak-panel name="ILJA GOUSHCHA">
		<div ng-include="'views/landing.html'"></div>
  </ak-panel>
  <ak-panel name="SKILLS">
  	<div>Skills</div>
  </ak-panel>
  <ak-panel name="EXPERIECE">Block 3</ak-panel>
  <ak-panel name="PROJECTS">Block 4</ak-panel>
  <ak-panel name="ABOUT">Block 5</ak-panel>
  <ak-panel name="CONTACT">Block 6</ak-panel>
</ak-panel-group>


