<div class="projects-outer-div" dimensions-setter aspect-ratio="1.89">

	<div class="technology-group">

		<div class="technology-group-name">
			<div class="content">Name of Technology</div>
		</div>

		<div class="pie-chart-group">
			<div class="canvas-box">
				<canvas tc-chartjs chart-type="doughnut" chart-data="mainCtrl.testData" chart-options="mainCtrl.chartOptions" height="250"></canvas>
			</div>
			<div class="rating">5<span>/</span>10</div>
			<div class="technology-name">Angular.js</div>
		</div>

		<div class="pie-chart-group">
			<div class="canvas-box">
				<canvas tc-chartjs chart-type="doughnut" chart-data="mainCtrl.testData" chart-options="mainCtrl.chartOptions" height="250"></canvas>
			</div>
			<div class="rating">9<span>/</span>10</div>
			<div class="technology-name">Backbone.js</div>
		</div>

		<div class="pie-chart-group">

		</div>

		
	</div>
	
	
</div>