<div class="skills-outer-div" dimensions-setter aspect-ratio="1.89">

	<div class="inner-block" ng-init="mainCtrl.pageNumber = 1">

		<h1>SKILLS</h1>


		<div class="sub-page" ng-show="mainCtrl.pageNumber == 1">
			<!-- <div class="technology-group" ng-repeat="technologyGroup in page.technologyGroups">
				<div class="technology-group-name" ng-class="{'showSkills': mainCtrl.showSkillsClass == true}">{{technologyGroup.technologyGroup}}</div>
				<div class="pie-chart-group" ng-repeat="skill in technologyGroup.technologies">
					<canvas tc-chartjs-doughnut chart-data="skill.data" chart-options="mainCtrl.chartOptions"></canvas>
					<div class="rating">{{skill.level}}<span>/</span>10</div>
					<div class="technology-name">{{skill.name}}</div>
				</div>
			</div> -->
			<table>
				<tr ng-repeat="row in [0,1]">
					<td ng-repeat="column in [0,1,2]">
						<div class="technology-group-name" ng-class="{'showSkills': mainCtrl.showSkillsClass == true}">
							{{mainCtrl.mySkills[(row*3)+column].technologyGroup}}
						</div>
						<div class="pie-chart-group" ng-repeat="skill in mainCtrl.mySkills[(row*3)+column].technologies">
							<canvas tc-chartjs-doughnut chart-data="skill.data" chart-options="mainCtrl.chartOptions" height="350"></canvas>
							<div class="rating">{{skill.level}}<span>/</span>10</div>
							<div class="technology-name">{{skill.name}}</div>
						</div>
					</td>
				</tr>
			</table>
		</div>

		<div class="sub-page" ng-show="mainCtrl.pageNumber == 2">
			<!-- <div class="technology-group" ng-repeat="technologyGroup in page.technologyGroups">
				<div class="technology-group-name" ng-class="{'showSkills': mainCtrl.showSkillsClass == true}">{{technologyGroup.technologyGroup}}</div>
				<div class="pie-chart-group" ng-repeat="skill in technologyGroup.technologies">
					<canvas tc-chartjs-doughnut chart-data="skill.data" chart-options="mainCtrl.chartOptions"></canvas>
					<div class="rating">{{skill.level}}<span>/</span>10</div>
					<div class="technology-name">{{skill.name}}</div>
				</div>
			</div> -->
			<!-- <table>
				<tr ng-repeat="row in [0,1]">
					<td ng-repeat="column in [0,1,2]">
						<div class="technology-group-name" ng-class="{'showSkills': mainCtrl.showSkillsClass == true}">
							{{mainCtrl.mySkills[(row*3)+column].technologyGroup}}
						</div>
						<div class="pie-chart-group" ng-repeat="skill in mainCtrl.mySkills[(row*3)+column].technologies">
							<canvas tc-chartjs-doughnut chart-data="skill.data" chart-options="mainCtrl.chartOptions"></canvas>
							<div class="rating">{{skill.level}}<span>/</span>10</div>
							<div class="technology-name">{{skill.name}}</div>
						</div>
					</td>
				</tr>
			</table> -->
		</div>

	</div>

	<button type="button" class="explore-skillset" ng-click="">EXPLORE FULL SKILL SET</button>
	<div class="blue-line-div"></div>
	<button class="sub-page-button btn-one" ng-click="mainCtrl.changeSkillPage(1)">&#45;&nbsp;1</button>
	<button class="sub-page-button btn-two" ng-click="mainCtrl.changeSkillPage(2)">&#45;&nbsp;2</button>
	<button class="sub-page-button btn-three" ng-click="mainCtrl.changeSkillPage(3)">&#45;&nbsp;3</button>

</div>