<div class="skills-outer-div" height-width-setter>

	<div class="inner-block" height-setter offset="100" min-height="300">

		<div class="right-block" width-setter width-offset="200" min-width="600">

			<h1>SKILLS</h1>

			<div class="pie-chart-group">
				<canvas tc-chartjs-doughnut chart-data="mainCtrl.myData2" chart-options="mainCtrl.chartOptions2" width="99" height="99"></canvas>
				<div class="rating">5/10</div>
				<div class="technology-name">Java</div>
			</div>
			

		</div>
		

	</div>

</div>